*
{
    font-family: 'Oswald', sans-serif;

}
#mapa{
    background: #cccccc;
  
    position: absolute;
  
    top: 30px;
    right: 0px;
    bottom: 0px;
    left: 0px;
  
    margin: 10px 7px 10px 7px;

}
header
{
    display: flex;
    align-items: center;
}
  