*
{
    font-family: 'Oswald', sans-serif;

}
#mapa{
    position: absolute;
    z-index: -1;
    top: 40px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    margin: 10px 7px 10px 7px;

}
#menu
{
    padding: 0;
    background-color: #85c9fb;
}

header
{
    display: flex;
    align-items: center;
    height: 50px;
}
nav
{
    height: 40px;
}
  